/* For App hihi */

body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
}

nav {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    color: #412A35;
    height: 100%;
    width: 100%;
    flex: 1;
    min-width: 280px;
    border-right: 2px solid #EEF2F7;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-bottom: 15px;
}

.logo img {
    width: 150px;
    height: 55px;
    margin-right: 10px;
}

.overview, .management, .system, .profile {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 100%;
}

.overview span, .management span, .system span, .profile span {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
    margin-left: 25px;
    color: #95A5A6;
}

nav div button {
    display: flex;
    align-items: center;
    padding: 12px 30px;
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    color: #5F7383;;
    font-size: 16px;
    text-align: left;
    transition: background-color 0.3s ease-in-out, border-left 0.1s ease-in-out;
    text-wrap: nowrap;
}

nav div button:hover, .active {
    background: #EBF7FB;
    color: #4BA3C3;
    border-left: 5px solid #4BA3C3;
    font-weight: bold;
}

.profile .ajax-button {
    padding-left: 24px;
}

#profile-avatar {
    box-sizing: border-box;
    margin-right: 9px;
    border: 1px solid #412A35;
    border-radius: 50%;
    width: 28px;
    height: 28px;
}

nav div button:hover #profile-avatar, #profile-avatar.enabled {
    border: 2px solid #4BA3C3;
}

nav div #logout-button:hover {
    background: #FDEDEC;
    color: #E74C3C;
    border-left: 5px solid #E74C3C;
    font-weight: bold;
}

.fa-solid, .material-icons {
    width: 20px;
    height: 15px;
    font-size: 16px;
    margin-right: 12px;
}

#ajax-result {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#ajax-result > * {
    max-width: 100%;
    box-sizing: border-box;
}